{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Music News Feed{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'bootstrap/4.0.0-beta/css/bootstrap.min.css' %}">
    <script src="{% static 'jquery-3.2.1.min.js' %}"></script>
    <style type="text/css">
        .container {
            max-width: 80%;
            width: 80%;
            margin-top: 0px;
        }
    </style>
  </head>
  <body>
    <div class="container">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
        <a class="navbar-brand" href="/">Music News Feed</a>
	{% if user.is_authenticated %}
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'artists:index' %}">Исполнители</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'albums:feed' %}">Лента</a>
            </li>
        </ul>
	{% endif %}
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
	    <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">выйти</a>
	    </li>
            {% else %}
	    <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">войти</a>
	    </li>
	    <li class="nav-item">
    	        <a class="nav-link" href="{% url 'signup' %}">зарегистрироваться</a>
	    </li>
            {% endif %}
        </ul>
      </nav>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
    </div>
  </body>
</html>
