{% extends 'base.html' %}

{% block content %}
  <h1>Избранные исполнители</h1>
  <table id="search_artist_table" class="table table-hover" style="margin-top: 20px;">
      <thead>
          <colgroup>
              <col style="width:12%;" />
              <col style="width:25%;" />
              <col style="width:25%;" />
              <col style="width:25%;" />
          </colgroup>
          <tr>
              <th>Фото</th>
              <th>Имя</th>
              <th>Жанры</th>
              <th>Избранное</th>
          </tr>
      </thead>
      <tbody>
          {% for artist in favorite_artists %}
 	      <tr{% if artist.is_in_library %} style="background-color:lightgrey"{% endif %}>
                 <td>
	             {% if artist.img_url %}
 		     <img src="{{ artist.img_url }}" alt="{{ artist.name }}" style="width:90%; height: auto">
		     {% endif %}
                 </td>
                 <td>
                     {{ artist.name }}
                 </td>
                 <td>
                     {{ artist.genres|join:", " }}
                 </td>
                 <td>
                     <a href="{% url 'artists:search_artists' %}?artist_name={{ form.artist_name }}&rm_artist={{ artist.spotify_id }}">удалить</a>
                 </td>
              </tr>
           {% endfor %}
       </tbody>
   </table>
{% endblock %}
